.box{
    position: relative;
    width: 100px;
    height: 100px;
    margin: 4px;
    display: inline-block;
    border:  6px;
}
.red{
    background: red
}
.blue{
    background: blue
}
.green{
    background: green
}
.yellow{
    background: yellow
}

